<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>raApp.projekat</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>PregledController</display-name>
        <servlet-name>PregledController</servlet-name>
        <servlet-class>controller.PregledController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PregledController</servlet-name>
        <url-pattern>/Pregled</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>UnosController</display-name>
        <servlet-name>UnosController</servlet-name>
        <servlet-class>controller.UnosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnosController</servlet-name>
        <url-pattern>/Unos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PodesavanjaController</display-name>
        <servlet-name>PodesavanjaController</servlet-name>
        <servlet-class>controller.PodesavanjaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PodesavanjaController</servlet-name>
        <url-pattern>/Podesavanja</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PretragaController</display-name>
        <servlet-name>PretragaController</servlet-name>
        <servlet-class>controller.PretragaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PretragaController</servlet-name>
        <url-pattern>/Pretraga</url-pattern>
    </servlet-mapping>
    
</web-app>
